*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.col-8{
    background-color:#154444;
}
.col-8 h1{
    width: 600px;
    font-size: 60px;
    margin-top: 70px ;
    margin-left: 170px;
}
.col-8 h3{
    width: 600px;
    margin-left: 170px;
    margin-top: 20px;
}
.col-8 button{
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
    margin-left: 170px;
}